<header class="sticky-top">
	<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('homepage') }}">My first symfony app</a>
			{# pour generer automatiquement la route de la page d'accueil {{ path{'homepage'}}} #}
			<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav me-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link {{app.request.get('_route')=='homepage' ? 'active' }} " href="{{ path('homepage') }}" aria-current="page">Home
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{app.request.get('_route')=='app_frontend_article_index' ? 'active' }}" href="{{path('app_frontend_article_index')}}">Article</a>
					</li>

				</ul>

			</div>


			<div class="navbar-nav ms-auto gap-2">
				{% if is_granted('ROLE_ADMIN') %}
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Admin
						</button>
						<div class="dropdown-menu" aria-labelledby="triggerId">
							<a class="dropdown-item" href="{{path('admin_article_index')}}">Article</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{path('admin_categorie_index')}}">Categorie</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">User</a>

						</div>
					</div>
				{% endif %}


				{% if app.user %}
					{# verifier si un user est connecté #}
					<a href="{{ path('app_logout') }}" class=" btn btn-warning btn-sm">Déconnexion</a>
					<a href="{{ path('app_frontend_user_info') }}" class=" btn btn-warning btn-sm">Mon compte
						<i class="bi bi-person-circle"></i>
					</a>

				{% else %}
					<a href="{{ path('app_login') }}" class=" btn btn-info  btn-sm">Connexion</a>
					<a href="{{ path('app_frontend_user_register') }}" class=" btn btn-success btn-sm">Inscription</a>


				{% endif %}


			</div>
		</div>
	</nav>

</header>
